<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head"></div>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="p-5 text-center bg-image"
     style="background-image: url('/images/background.jpg');
      height: 1000px;">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
        <div class="opacity-80" align="center" >
            <div class="col-4 m-4" >
            <table class="table table-sm table-bordered align-middle mb-0 bg-white responsive">
                <thead>
                <tr>
                    <th style="width:30%"  scope="col"><i class="fas fa-clipboard-list fa-3x"></i></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="r, iter : ${desiredRoute}">
                    <td colspan="1" align="center">
                        <div th:if="${iter.first}">
                            <p style="color:green;font-family:verdana;" th:text="${'Departure station: ' + r.station.name}">
                            <p th:text="${'Time of departure: ' + r.departure}">
                        </div>
                        <div th:if="${iter.last}">
                            <p style="color:green;font-family:verdana;"th:text="${'Arrival station: ' + r.station.name}"></p>
                            <p th:text="${'Time of arrival: ' + r.arrival}"></p>
                        </div>
                        <div th:if="${(iter.last==false && iter.first==false)}">
                            <p style="color:green;font-family:verdana;" th:text="${iter.count + ' station: ' + r.station.name}">
                            <p th:text="${'Arrival to station: ' + r.arrival}">
                            <p th:text="${'Departure from station: ' + r.departure}">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
</div>
<!-- Footer Start -->
<div th:replace="fragments/footer :: footer"></div>
<!-- Footer End -->
</body>
</html>



