<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stations List</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> Station Id </th>
        <th> Stations Name </th>
        <th> International Code </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${noStations}">
        <td colspan="2"> No Users Available </td>
    </tr>
    <tr th:each="station : ${stationsDto}">
        <td><span th:text="${station.id}"> Station Id </span></td>
        <td><span th:text="${station.name}"> Stations Name </span></td>
        <td><span th:text="${station.code}"> International Code </span></td>
        <td><ul>
            <li>
                <form th:method="GET" action="#" th:action="@{/admin/stations/{id}/edit(id=${station.id})}">
                    <button class="generic-btn success small action-button" type="submit" >Edit</button>
                </form>
            </li>
            <li>
                <form th:method="POST" action="#" th:action="@{/admin/stations/delete/{id}(id=${station.id})}">
                    <button class="genric-btn danger small action-button" type="submit" >Delete</button>
                </form>
            </li>
        </ul>
        </td>
    </tr>
    </tbody>
</table>
<p><a th:href="@{/admin/stations/add}">Add a new station</a></p>
</body>
</html>