<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head"></div>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="p-5 text-center bg-image"
     style="background-image: url('/images/background.jpg');
      height: 800px;">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
        <div class="opacity-80">
            <form action="#" th:action="@{/admin/stations/{id}/edit(id=${station.id})}" th:object="${station}"
                  method="POST">
                <br>
                <div class="row d-flex justify-content-center">
                    <span style="font-size: 70%; color:yellow;" th:if="${#fields.hasErrors('*')}">
                                        <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                                    </span>
                    <td class="row">
                        <div class="col-md-4">
                            <div class="card-transparent ">
                                <div class="card-block special-card"
                                     style="background-color: rgba(245, 245, 245, 0.7); border-radius:10px;">
                                    <h5 class="card-header" th:text="#{admin.station.edit.form}"></h5>
                                    <div class="form-helper" th:text="#{label.station.name}"></div>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" th:field="*{name}"
                                               th:errorclass="is-invalid">
                                    </div>
                                    <div class="form-helper" th:text="#{label.station.code}"></div>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" th:field="*{code}"
                                               th:errorclass="is-invalid">
                                    </div>
                                    <div align="center">
                                        <div class="col-4">
                                            <button type="submit" class="btn btn-success btn-rounded" th:text="#{button.update}"></button>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </td>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Footer Start -->
<div th:replace="fragments/footer :: footer"></div>
<!-- Footer End -->
</body>
</html>