<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head"></div>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="p-5 text-center bg-image"
     style="background-image: url('/images/background.jpg');
      height: 800px;">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
        <div class="opacity-80">
            <table class="table table-sm table-bordered align-middle mb-0 bg-white">
                <thead class="bg-light">
                <tr>
                    <th th:text="#{admin.stations.id}"></th>
                    <th th:text="#{admin.stations.name}"></th>
                    <th th:text="#{admin.stations.code}"></th>
                    <th th:text="#{admin.actions}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${noStations}">
                    <td colspan="4" th:text="#{admin.no.stations.found}"></td>
                </tr>
                <tr th:each="station : ${stationsDto}">
                    <td><span th:text="${station.id}"></span></td>
                    <td><span th:text="${station.name}"></span></td>
                    <td><span th:text="${station.code}"></span></td>
                    <td>
                        <form th:method="GET" action="#" th:action="@{/admin/stations/{id}/edit(id=${station.id})}">
                            <button class="btn btn-success btn-rounded" type="submit"><i class="fas fa-edit "></i>
                            </button>
                        </form>

                        <form th:method="POST" action="#" th:action="@{/admin/stations/delete/{id}(id=${station.id})}">
                            <button class="btn btn-outline-danger btn-rounded" type="submit"><i
                                    class="fas fa-trash"></i></button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <br>
            <!--Pagination start -->
            <nav class="blog-pagination justify-content-center d-flex">
                <ul class="pagination">
                    <th:block th:each="i : ${#numbers.sequence(1, totalPages)}">
                        <div th:with="result = ${currentPage eq i}">
                            <div th:if="${result}">
                                <li class="page-item active">
                                    <a th:href="@{/admin/stations/all(currentPage = ${i})}"
                                       class="page-link" th:text="${i}"></a>
                                </li>
                            </div>
                            <div th:unless="${result}">
                                <li class="page-item">
                                    <a th:href="@{/admin/stations/all(currentPage = ${i})}"
                                       class="page-link" th:text="${i}"></a>
                                </li>
                            </div>
                        </div>
                    </th:block>
                </ul>
            </nav>
            <!--Pagination end -->
            <form th:method="GET" action="#" th:action="@{/admin/stations/add}">
                <button class="btn btn-success btn-rounded" type="submit" th:text="#{button.add.station}"></button>
            </form>
        </div>
    </div>
</div>
<!-- Footer Start -->
<div th:replace="fragments/footer :: footer"></div>
<!-- Footer End -->
</body>
</html>