<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head"></div>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="p-5 text-center bg-image"
     style="background-image: url('/images/background.jpg');
      height: 800px;">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
        <div class="opacity-80">
            <table class="table table-sm table-bordered align-middle mb-0 bg-white">
                <thead class="bg-light">
                <tr>
                    <th th:text="#{admin.users.bio}"></th>
                    <th th:text="#{admin.users.role}"></th>
                    <th th:text="#{admin.users.status}"></th>
                    <th th:text="#{admin.actions}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${noUsers}">
                    <td colspan="4" th:text="#{admin.no.users.found}"></td>
                </tr>
                <tr th:each="user : ${userDtoList}">
                    <td>
                        <div class="d-flex align-items-center">
                            <img src=""
                                 th:src="@{/images/user_avatar.png}" height="80"/>
                            <div class="ms-3">
                                <p class="fw-bold mb-1" th:text="${user.firstName} + ' ' + ${user.lastName}"></p>
                                <p class="text-muted mb-0" th:text="${user.email}"></p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="fw-normal mb-1" th:text="${user.role}"></p>
                        <p class="text-muted mb-0">Local Railways</p>
                    </td>
                    <td>
                        <span class="badge badge-success rounded-pill d-inline">Active</span>
                    </td>
                    <td>
                        <form th:method="GET" action="#" th:action="@{/users/admin/{id}/edit(id=${user.id})}">
                            <button class="btn btn-success btn-rounded" type="submit"><i class="fas fa-edit "></i>
                            </button>
                        </form>
                        <form th:method="POST" action="#"
                              th:action="@{/users/admin/delete/{id}(id=${user.id})}">
                            <button class="btn btn-outline-danger btn-rounded" type="submit"><i
                                    class="fas fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Footer Start -->
<div th:replace="fragments/footer :: footer"></div>
<!-- Footer End -->
</body>
</html>