<!DOCTYPE html >
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head"></div>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="p-5 text-center bg-image"
     style="background-image: url('/images/background.jpg');
      height: 650px;">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
        <br>
        <form action="#" th:action="@{/booking}" method="get">
            <div align="center">

                <div class="col-4" >
            <div class="card-transparent "  style="background-color: rgba(245, 245, 245, 0.7); border-radius:10px;">
                <h5 class="card-header" th:text="#{booking.header}"></h5>
                <i class="far fa-calendar"></i>
                <div class="card-body" >
                    <p class="card-text" >
                    <div class="form-group">
                        <select class="form-select mr-sm-2" name="stationFrom" required>
                            <option value="" th:text="#{select.departure}"></option>
                            <option th:each="station : ${stations}" th:value="${station.id}"
                                    th:text="#{${station.name}}"></option>
                        </select>
                    </div>
                    </p>
                    <p class="card-text">
                    <div class="form-group">
                        <select class="form-select mr-sm-2" name="stationTo" required>
                            <option value="" th:text="#{select.arrival}"></option>
                            <option th:each="station : ${stations}" th:value="${station.id}"
                                    th:text="#{${station.name}}"></option>
                        </select>
                    </div>
                    </p>
                    <div align="center">
                    <p th:if="${sameStations}" class="error" th:text="#{same.stations}"></p>
                    <p th:if="${noRoutes}" class="error" th:text="#{no.routes}"></p>
                    <p th:if="${noStations}" class="error" th:text="#{no.stations}"></p>

                        <div th:if="${noStations != null}">
                        <button type="submit" class="btn btn-success btn-rounded" value="Search" disabled><i class="fas fa-search"></i></button>
                        </div>
                        <div th:unless="${noStations != null}">
                            <button type="submit" class="btn btn-success btn-rounded" value="Search" ><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        </form>
    </div>
    </div>
</div>
<!-- Footer Start -->
<div th:replace="fragments/footer :: footer"></div>
<!-- Footer End -->
</body>
</html>



