<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head"></div>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="p-5 text-center bg-image"
     style="background-image: url('/images/background.jpg');
      height: 800px;">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
        <div class="opacity-80">
            <table class="table table-sm table-bordered align-middle mb-0 bg-white">
                <thead>
                <tr>
                    <th scope="col" th:text="#{ticket.train}"></th>
                    <th scope="col" th:text="#{about.first.name}"></th>
                    <th scope="col" th:text="#{about.last.name}"></th>
                    <th scope="col" th:text="#{booking.found.direction}"></th>
                    <th scope="col" th:text="#{booking.found.schedule}"></th>
                    <th scope="col" th:text="#{ticket.wagon}"></th>
                    <th scope="col" th:text="#{booking.found.duration}"></th>
                    <th scope="col" th:text="#{ticket.type}"></th>
                    <th scope="col" th:text="#{ticket.status}"></th>
                    <th scope="col" th:text="#{booking.found.price}"></th>
                    <th scope="col" th:text="#{admin.actions}"></th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="ticket : ${tickets}">
                    <td style="text-align:center" th:text="${ticket.departure.route.train.id}"/>
                    </td>
                    <td th:text="${ticket.passengerDetails.firstName}"></td>

                    <td th:text="${ticket.passengerDetails.lastName}"></td>

                    <td th:text="#{${ticket.departure.station.name}} + ' - ' + #{${ticket.arrival.station.name}}"></td>

                    <td th:text="${{#temporals.format(ticket.departure.departure, 'YYY-MM-dd HH:mm')}}+ ' - ' + ${{#temporals.format(ticket.arrival.arrival, 'YYY-MM-dd HH:mm')}}"></td>

                    <td th:text="${ticket.ticketDetails.wagonNum}"></td>

                    <td th:text="${ticket.ticketDetails.duration}"></td>

                    <td th:text="#{${ticket.ticketDetails.type}}"></td>

                    <td th:text="#{${ticket.ticketDetails.status}}"></td>


                    <td th:text="${ticket.ticketDetails.price}"></td>

                    <td>
                        <div th:if="${ticket.ticketDetails.status == T(ua.martishyn.app.utils.enums.TicketStatus).NOT_PAID}">
                            <!-- POST FORM FOR TICKET PAY-->
                            <form th:method="POST"
                                  th:action="@{/tickets/show/pay/{id}(id=${ticket.id})}">
                                <button
                                        class="btn btn-outline-success"
                                        type="submit">
                                    <i class="far fa-credit-card fa-4x"></i>
                                </button>
                            </form>
                            <!-- POST FORM FOR TICKET Cancellation-->
                            <form th:method="POST"
                                  th:action="@{/tickets/show/cancel/{id}(id=${ticket.id})}">
                                <button
                                        class="btn btn-outline-danger btn-rounded"
                                        type="submit">
                                    <i class="far fa-times-circle fa-4x"></i>
                                </button>
                            </form>
                        </div>
                        <div th:unless="${ticket.ticketDetails.status == T(ua.martishyn.app.utils.enums.TicketStatus).NOT_PAID}">
                            <!-- GET FORM FOR TICKET QR-->
                            <form th:method="GET"
                                  th:action="@{/tickets/show/qr/{id}(id=${ticket.id})}">
                            <button
                                    class="btn btn-outline-success"
                                    type="submit">
                                <i class="fas fa-file-download fa-4x"></i>
                            </button>
                            </form>
                        </div>

                    </td>
                </tr>
                </tbody>
                <tr>
                    <td colspan="11"> <span style="text-align: center; color:red; font-family:courier; font-size:79%;"
                    th:text ="'*' + #{ticket.info}">
				*
				</span></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- Footer Start -->
<div th:replace="fragments/footer :: footer"></div>
<!-- Footer End -->
</body>
</html>



