<!DOCTYPE html >
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head"></div>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="p-5 text-center bg-image"
     style="background-image: url('/images/background.jpg');
      height: 650px;" >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
        <div align="center">

        <br>
        <div class="col-4" >
            <div class="card-transparent "  style="background-color: rgba(245, 245, 245, 0.8); border-radius:10px;">
            <h5 class="card-header" th:text="#{about.header}" ></h5>
                <div class="card-body" align="left">
                    <p class="card-text" th:text="#{about.first.name}+':  ' + ${currentUser.firstName}"></p>
                    <p class="card-text" th:text="#{about.last.name}+':  ' + ${currentUser.lastName}"></p>
                    <p class="card-text" th:text="#{about.email}+':  '  + ${currentUser.email}"></p>
                    <p class="card-text" th:text="#{about.phone}"></p>
                    <p class="card-text" th:text="#{about.me}"></p>

                </div>

                    <section class="mb-4">
                        <!-- Facebook -->
                        <a
                                class="btn btn-link btn-floating btn-lg text-dark m-1"
                                href="https://facebook.com"
                                role="button"
                                data-mdb-ripple-color="dark"
                        ><i class="fab fa-facebook-f"></i
                        ></a>

                        <!-- Twitter -->
                        <a
                                class="btn btn-link btn-floating btn-lg text-dark m-1"
                                href="https://twitter.com"
                                role="button"
                                data-mdb-ripple-color="dark"
                        ><i class="fab fa-twitter"></i
                        ></a>

                        <!-- Google -->
                        <a
                                class="btn btn-link btn-floating btn-lg text-dark m-1"
                                href="https://google.com"
                                role="button"
                                data-mdb-ripple-color="dark"
                        ><i class="fab fa-google"></i
                        ></a>

                        <!-- Instagram -->
                        <a
                                class="btn btn-link btn-floating btn-lg text-dark m-1"
                                href="https://instagram.com"
                                role="button"
                                data-mdb-ripple-color="dark"
                        ><i class="fab fa-instagram"></i
                        ></a>

                        <!-- Github -->
                        <a
                                class="btn btn-link btn-floating btn-lg text-dark m-1"
                                href="https://github.com/AndreyMartishyn/Train-Reservation-SpringBoot"
                                role="button"
                                data-mdb-ripple-color="dark"
                        ><i class="fab fa-github"></i
                        ></a>
                    </section>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- Footer Start -->
<div th:replace="fragments/footer :: footer"></div>
<!-- Footer End -->
</body>
</html>



